@charset "utf-8";
/*课程表*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;background: transparent;list-style:none;vertical-align: middle;}
html,body,.kechengbiao{ height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
*{font-family: "microsoft yahei";}
blockquote, q {	quotes: none;}
.kechengbiao{width:620px;height:282px;border-radius:5px;/*background:url(images/kechengbg.jpg) no-repeat center center;*/background-size: cover; margin:0 auto;}

.biaoge{position: relative;left:0;top:0;margin:auto;padding-top:10px;text-align: center; padding:28px 29px;background:url(images/kechengbg.jpg) no-repeat center center;height:254px;}

/*.biaoge h2{ font-weight:600; padding-bottom:10px;}

.biaoge h2 img{ width:212px; height:47px; margin:0 auto;}

.class_table{position: absolute;left:0;top:0;}

.class_table td{vertical-align: middle;}

.class_table_tr_head{height:50px;font-size: 20px;color:#fff;font-weight: bold;*height:42px;}

.class_table_tr_head td{padding:0 10px;width:140px;background-color:#fe5354; font-family:"microsoft yahei";}

.class_table_tr_body{color:#6c3c26;font-size: 18px;height:40px;border-bottom:1px solid #a76c15;}

.class_table_tr_body .no_border{border:none;}

.class_table_tr_body td{background:url(images/opacity.png) repeat; color:#fff;}

.color02{background:#ffe186;}*/


.biaoge_title{ overflow: hidden; }
.biaoge_title ul{ overflow: hidden; }
.biaoge_title ul li{float: left;width:112px;height:50px;line-height: 50px; text-align: center; color: #b5b5b5;font-size: 14px; cursor: pointer;}
.biaoge_title ul li.on{ background:url(images/kechengpic02.png) no-repeat center center;color: #fff;  }

.biaoge_m{margin-top: 10px; display: none;}
.biaoge_main .first{display: block;}
.biaoge_m table{width: 100%;}
.biaoge_m table tr td{ border-right:1px dotted #c1c1c1; }
.biaoge_m table tr td span{display: block;}
.biaoge_m table tr td span.time{height:26px;line-height: 26px; background: #efefef; color: #212121;font-size: 16px;}
.biaoge_m table tr td span.teacher{height:17px;line-height: 22px; background: #fff; color: #777777;font-size: 14px;padding:8px 0 16px;}

